body {
    background-color: rgb(189, 60, 60);
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    text-align: justify;
    padding: 0;
    margin: 0;
}

main {
    max-width: 80%;
    margin: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: 
    "h h h"
    "n ar as"
    "f f f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
    background-color: rgb(65, 129, 65);
}

nav li {
    list-style: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

article {
    grid-area: ar;
}

aside {
    grid-area: as;
    text-align: left;
}

footer {
    grid-area: f;
}

h2 {
    font-weight: lighter;
    font-family: ;
    padding-top: 20px;
}

h3 {
    font-style: oblique;
}

img {
    width: 100%;
    padding: 5px;
    border-style: solid;
    border-color: grey;
}

div {
    margin: 10px;
}

@media screen and (max-width:) {
    
}